* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Mono";
}
ul {
  list-style: none;
}
hr {
  opacity: 0.2;
  width: 80vw;
}
.btn1 {
  background-color: #fdf0d5;
  color: #023b5a;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  padding: 5px 10px;
}
.btn1:hover {
  cursor: pointer;
  background-color: #fa9b52;
}
li {
  transition: all 0.2s;
}
a {
  color: #fdf0d5;
  text-decoration: none;
}
.pop_up {
  position: fixed;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
}
.pop_up_image {
  width: 90vw;
  height: 90vh;
}
header {
  height: 30vh;
  background: url("assets/bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fa9b52;
  width: 100%;
  text-align: center;
  font-size: 24px;
  -webkit-text-stroke: 2px black;
  align-items: center;
}
.floating_buttons {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  padding: 5px;
  -webkit-text-stroke: 0px;
}
.floating_buttons a {
  color: #fdf0d5;
  transition: all 0.2s;
}
.floating_buttons a:hover {
  transform: scale(1.1);
  text-decoration: underline;
}
body {
  background-color: #023b5a;
}
main {
  height: 100%;
}
.lesson_container {
  padding: 25px 0;
  margin: 0 10vw;
  font-size: 20px;
  color: #fdf0d5;
  text-align: justify;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.lessons_link {
  text-decoration: underline;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.test_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
input[type="radio"] {
  accent-color: #fa9b52;
}
input[type="radio"]:hover {
  cursor: pointer;
}
label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.nav_item {
  text-decoration: underline;
  cursor: pointer;
}
.nav_item a{
  text-decoration: underline;
  cursor: pointer;
}
iframe {
  width: 50vw;
  height: 500px;
}
#up {
  position: fixed;
  bottom: 10px;
  opacity: 0;
  transition: all .3s;
  cursor: pointer;
  border-radius: 100%;
  right: 15px;
}
#up img {
  width: 32px;
}
@media (max-width: 900px) {
  header h1{
    font-size: 40px;
  }
  .lesson_container {
    height: 100%;
    margin: 0 5vw;
  }
  iframe {
    width: 90vw;
    height: 200px;
  }
  .lesson_container img {
    width: 80vw;
  }
  .pop_up_image {
    width: 95vw;
    height: auto;
  }
}
@media (max-width: 400px) {
  header h1{
    font-size: 38px;
  }
}
